<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>

<html>
<body>
    <div class="container">
        <form class="form-group" th:action="@{/books/add}" th:object="${book}" method="post">
            Title: <input class="form-control" type="text" th:field="*{title}"/>
            <br>
            Description: <input class="form-control" type="text" th:field="*{description}"/>
            <br>
            Year: <input class="form-control" type="number" th:field="*{year}"/>
            <br>
            <div class="submit">
                <button name="addBook" type="submit">Add book</button>
            </div>

        </form>
    </div>
</body>
</html>